<ion-header>
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <rx-virtual-scroll-viewport
    #viewport
    autosize
    [runwayItems]="10"
    [runwayItemsOpposite]="10"
    [withResizeObserver]="false"
  >
    <ng-container
      *rxVirtualFor="
    let item of items;
    trackBy: trackByIdForRxFor;
    templateCacheSize: 20;
    let index = index
  "
    >
      <ion-item
        style="width: 100%"
        button
        (click)="itemTapped(item)"
        detail="true"
      >
        <ion-label>
          <h3>{{ item.name }}</h3>
          <p>{{ item.text }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </rx-virtual-scroll-viewport>
</ion-content>
